<div *ngIf="(product$ | async) as product">
  <img [src]="product.image" alt="" />

  <ul>
    <li>Name:{{product.title}}</li>
    <li>Price:{{product.price | currency}}</li>
  </ul>
  <p >{{product.description}}</p>
  <button (click)="createProduct()">Save</button>
  <button (click)="updateProduct()">Update</button>
  <button (click)="deleteProduct()">Delete</button>
  <button (click)="getRandomUser()">Get user</button>
  <button (click)="getFile()">Get file</button>
  <button (click)="saveFile()">Descargar archivo</button>
</div>
